<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Spring MVC</h1>
    <ul th:each="prod : ${listaAtrib}">
      <li>
        <div>
          <h3 th:text="${prod.nome}">Produto falso</h3>
          <p th:text="${prod.descricao}">Descricao falsa</p>
          <p th:text="${prod.precoCompra.toString()}">0.00</p>
          <p th:text="${prod.precoVenda.toString()}">0.00</p>
          <p th:text="${prod.quantidade.toString()}">0.00</p>
          <p th:text="${prod.dtCadastro.toString()}">0.00</p>
          <p th:text="${prod.dtCadastro.toString()}">0.00</p>
        </div>
      </li>
    </ul>

  </body>
</html>
