<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <style type="text/css">
            .input-group {
                width: 30%;

            }

            .table {
                margin: 25px;
                width: 80%;
            }
        </style>

        <title>Exercicio</title>
    </head>

    <body>
        <div class="row">
            <div class="col">
                <h1>Lista de produtos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Produto:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

                    <button class="btn btn-primary" type="submit">Button</button>
                </div>

            </div>

            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="display:none">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço de compra</th>
                            <th scope="col">Preço de venda</th>
                            <th scope="col">Quantidade</th>
                        </tr>
                    </thead>
                    <tbody th:each="prod : ${listaAtrib}">
                        <tr>
                            <td style="display:none" th:text="${prod.id}"></td>
                            <td th:text="${prod.nome}"></td>
                            <td th:text="${prod.precoCompra.toString()}"></td>
                            <td th:text="${prod.precoVenda.toString()}"></td>
                            <td th:text="${prod.quantidade.toString()}"></td>
                            <td><button class="btn btn-primary" type="submit">Detalhes</button></td>
                        </tr>

                    </tbody>                
                </table>
            </div>
        </div>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </body>

</html>